* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.container {
    color: #fff;
    height: 100vh;
    background: linear-gradient(to right bottom, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.5)), url("img/bgimg.jpg") no-repeat fixed center;
    background-size: cover;
    display: relative;
}
header {
    padding: 26px 35px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    font-weight: bolder;
    font-size: 18px;
}
.menu a:not(:last-child){
    padding-right: 8px;
}
a {
    color: #fff;
    font-size: 18px;
}
a:hover {
    cursor: pointer;
    text-decoration: underline 1px solid #fff;
}
section {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    text-align: center;
    padding: 50px 15px;
}
h1 {
    font-size: 38px;
    padding-bottom: 12px;
}
p {
    margin-bottom: 24px;
}
button {
    padding: 8px 18px;
    border-radius: 6px;
    border: none;
    background-color: blue;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}
